In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_excel("./V02.01.xlsx")
df.columns = df.iloc[1]
df = df.iloc[3:]
df = df.dropna(how='all').reset_index(drop=True)
df.columns = ['Region', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']

non_province = ["CẢ NƯỚC", "Đồng bằng sông Hồng", "Trung du và miền núi phía Bắc", "Bắc Trung Bộ và Duyên hải miền Trung", "Đông Nam Bộ", "Đồng bằng sông Cửu Long"]
province = [r for r in df["Region"] if r not in non_province]

df = df[df["Region"].isin(province)].reset_index(drop=True)
df['Region'] = df['Region'].str.replace("oà", "òa")
df['Region'] = df['Region'].str.replace("oá", "óa")
col_to_convert = [str(year) for year in range(2011, 2023)]
df[col_to_convert] = df[col_to_convert].astype(str)

def add_prefix(cn):
    try: 
        year = int(cn)
        if 2011 <= year <= 2022:
            return f"y_{year}"
    except ValueError:
        pass
    return cn

df = df.rename(columns=add_prefix)


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Region  64 non-null     object
 1   y_2011  64 non-null     object
 2   y_2012  64 non-null     object
 3   y_2013  64 non-null     object
 4   y_2014  64 non-null     object
 5   y_2015  64 non-null     object
 6   y_2016  64 non-null     object
 7   y_2017  64 non-null     object
 8   y_2018  64 non-null     object
 9   y_2019  64 non-null     object
 10  y_2020  64 non-null     object
 11  y_2021  64 non-null     object
 12  y_2022  64 non-null     object
dtypes: object(13)
memory usage: 6.6+ KB

In [32]:
df[df['Region'] == "Đắk Nông"]

,Region,y_2011,y_2012,y_2013,y_2014,y_2015,y_2016,y_2017,y_2018,y_2019,y_2020,y_2021,y_2022
43,Đắk Nông,512.67,529.37,548.1,564.96,580.5,594.4,604.9,615.4,625.8,637.91,664.42,670.56

In [33]:
vndf = pd.read_csv("./Vietnam_properties_f.csv", sep=";", encoding="UTF-8")
merged_df = pd.merge(vndf, df, how='left', left_on='name', right_on='Region')
merged_df = merged_df.drop(columns=['Region'])
vndf.head()

,featurecla,scalerank,adm1_code,diss_me,iso_3166_2,wikipedia,iso_a2,adm0_sr,name,name_alt,...,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,FCLASS_TLC,baseClass,subClass,lat,lon,GEOlayersMatchProperty
0,Admin-1 states provinces,7,VNM-486,486,VN-28,NaN,VN,1,Kon Tum,Kon Tum,...,NaN,NaN,NaN,NaN,NaN,admin_boundary,state,14.662684,107.885308,0 Kon Tum
1,Admin-1 states provinces,7,VNM-4835,4835,VN-72,http://en.wikipedia.org/wiki/%C4%90%E1%BA%AFk_...,VN,1,Đắk Nông,Dak Nong,...,NaN,NaN,NaN,NaN,NaN,admin_boundary,state,12.193536,107.686399,1 Đắk Nông
2,Admin-1 states provinces,7,VNM-477,477,VN-33,NaN,VN,1,Đắk Lắk,Dak Lak|Dac Lac,...,NaN,NaN,NaN,NaN,NaN,admin_boundary,state,12.770203,108.248850,2 Đắk Lắk
3,Admin-1 states provinces,7,VNM-478,478,VN-30,NaN,VN,1,Gia Lai,Gia Lai,...,NaN,NaN,NaN,NaN,NaN,admin_boundary,state,13.818420,108.156039,3 Gia Lai
4,Admin-1 states provinces,7,VNM-484,484,VN-58,NaN,VN,1,Bình Phước,Binh Phuoc,...,NaN,NaN,NaN,NaN,NaN,admin_boundary,state,11.748331,106.906973,4 Bình Phước

In [34]:
x = "Đắk Nông"
df[df['Region'] == x]

,Region,y_2011,y_2012,y_2013,y_2014,y_2015,y_2016,y_2017,y_2018,y_2019,y_2020,y_2021,y_2022
43,Đắk Nông,512.67,529.37,548.1,564.96,580.5,594.4,604.9,615.4,625.8,637.91,664.42,670.56

In [35]:
vndf[vndf['name'] == x]

,featurecla,scalerank,adm1_code,diss_me,iso_3166_2,wikipedia,iso_a2,adm0_sr,name,name_alt,...,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,FCLASS_TLC,baseClass,subClass,lat,lon,GEOlayersMatchProperty
1,Admin-1 states provinces,7,VNM-4835,4835,VN-72,http://en.wikipedia.org/wiki/%C4%90%E1%BA%AFk_...,VN,1,Đắk Nông,Dak Nong,...,NaN,NaN,NaN,NaN,NaN,admin_boundary,state,12.193536,107.686399,1 Đắk Nông

In [36]:
merged_df[merged_df['name'] == x]

,featurecla,scalerank,adm1_code,diss_me,iso_3166_2,wikipedia,iso_a2,adm0_sr,name,name_alt,...,y_2013,y_2014,y_2015,y_2016,y_2017,y_2018,y_2019,y_2020,y_2021,y_2022
1,Admin-1 states provinces,7,VNM-4835,4835,VN-72,http://en.wikipedia.org/wiki/%C4%90%E1%BA%AFk_...,VN,1,Đắk Nông,Dak Nong,...,548.1,564.96,580.5,594.4,604.9,615.4,625.8,637.91,664.42,670.56

In [37]:
#merged_df = merged_df.astype({col: 'string' for col in df.select_dtypes(include=['object']).columns})
merged_df.head()
exp_df = merged_df
for i in range(11):
    exp_df = exp_df.drop(exp_df.columns[-1], axis=1)
    exp_df.to_csv(f"./geolayer-ready-{i}.csv", compression=None, encoding="UTF-8")